# Data Science Tools and Ecosystem

In [3]:
print("In this notebook, Data Science Tools and Ecosystem are summarised")

In this notebook, Data Science Tools and Ecosystem are summarised

# Some of the key takeaways from the course
**Objectives**
## List popular languages for Data Science 
- Python
- R
- Scala
- SQL

## AUTHOR
### YOGITA

# Some of the popular languages that Data Scientist use are:

## Ordered List
1. Python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientist include:

## Ordered List
1. Numpy
2. Matplotlib
3. Seaborn
4. Pandas
5. Plotly

| Data Science Tools |
|-------------------|
| VS CODE |
| R STUDUIO |
| JUPYTER LAB |

### Below are a few examples of evaluating airthematic expressions in Python

In [14]:
a=25
b=36
c=15
d=a-(-b)+c
print (d)

76

In [15]:
x= 22.5
y= 88
z= x/y+x
print (z)

22.755681818181817

In [ ]:
#This is a simple airthematic expression to multiply then add integers

In [16]:
(3*4)+5

17

In [18]:
#This will convert 200 minutes to hours by dividing by 60
x= 200
y= x/60
print (y)

3.3333333333333335